*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#nav-1{
    display: flex;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
    align-items: center;
    height: 8vh;
}

#logo{
    width: 6vw;
    height: 6vh;
}

#logo:hover{
    cursor: pointer;
}

#login:hover{
    cursor: pointer;
}

#nav-2{
    height: 5vh;
    background-color: rgb(0,146,223);
    padding-left: 10vw;
    color: white;
    padding-top: 2vh;
}

#container{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}


#checkoutDetails{
    width: 30%;
    height: 50%;
    background-color: rgb(242,242,242);
}


#checkoutDetails>div{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    padding: 10px;
}

#checkout{
    width: 100%;
}

#checkout>button{
    width: 90%;
    height: 7vh;
    border: none;
    color: white;
    font-size: 20px;
    background-color: rgb(255,51,153);
}

#shop-more{
    width: 100%;
}

#shop-more>button{
    width: 90%;
    height: 7vh;
    border: 2px solid black;
    font-size: 20px;
}