


/* *********************************************  Image slider style start ************************************************************ */

.container{
   
    width: 100%;
    height: 80vh;
    margin: auto;
    position: relative;
    /* border: 12px solid blue; */
    margin-top: 15px;
}

.container .image{
    display: none;
    /* border: 2px solid rgb(0, 255, 94); */
}

.container .image img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    /* border-radius: 15px; */
    overflow: hidden;
}

.container .button{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    /* border: 2px solid blue; */
}

.container .button a{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
    color: rgb(20, 16, 16);
    /* background: rgba(0, 0, 0, 0.8); */
    font-size: 40px;
    user-select: none;
    /* border: 2px solid rgb(0, 255, 85); */
}

.container .button .prev{
    border-radius: 0 5px 5px 0;
    /* border: 2px solid rgb(254, 59, 5); */
}

.container .button .next{
    border-radius: 5px 0 0 5px;
    /* border: 2px solid rgb(243, 66, 17); */
}


.active, .dot:hover{
    background: rgb(29, 28, 28);
    color: rgb(29, 28, 28);
    /* border: 2px solid rgb(71, 52, 47); */
}

#dot-div{
    margin-top: 10px;
    /* border: 2px solid purple; */
    height: 18px;
    bottom: 18px;
}

#dot-div>#dots{
    display: flex;
    text-align: center;
    position: absolute;
    left: 45%;
    gap: 10px;
    border-radius: 15px;
    
}

#dot-div>#dots>.dot{
    cursor: pointer;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: #bbb;
    display: inline-block;
    margin: 0 2px;
    /* border: 2px solid rgb(30, 255, 0); */
}


/* *********************************************  Image slider style end ************************************************************ */