* {
    margin: 0;
    padding: 0;
    font-family: Avenir-Next, sans-serif;
}

label {
    color: #999999;
    line-height: 16.1px;
    font-size: 14px;
}
.main-signup {
    
    /* border: 3px solid blue; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    width: 16%;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.signup-h1 {
    width: 100%;
    text-align: center;
}

.signup-name {
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.signup-name>select,
.signup-name>input {
    border: none;
    outline: none;
}

.signup-name>input {
    width: 100%
}

.signup-login {
    color: #ec008c
}

.signup-name>input[type="text"]{
    height: 100%;
}
.signup-name>input[type="text"]:focus{
    outline-color: #ec008c;
    outline: 2px solid #ec008c;
}
form>div {
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: rows;
    align-self: center;
    height: 40px;
    font-size: 14px;
    margin-bottom: 14px;
}

form>input {
    border: 2px solid black;
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-self: center;
    height: 40px;
    font-size: 14px;
    margin-bottom: 14px;
}
form>input:focus{
    outline-color: #ec008c;
}

input[type=submit] {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ec008c;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.orrrr{
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;
}
.orrrr>div{
    width: 40%;
    height: 0;
    opacity: 70%;
    border: 1px solid black;
}
.orrrr>span{
    margin-right: 5px;
    margin-left: 5px;
    
}
.social-1{
    background-color: #4285f4;
    height: 40px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    margin-top: 20px;
    
}
.social-1>div{
    margin-left: 10px;
    background-color: white;
    height:max-content;
    padding: 5px;
    border-radius: 5px;
}
.social-1 span{
    margin-left: 30px;
    color: white;
    font-weight: 700;
}
.fb{
    background-color: #3b5998;
}

.bellowsocial{
    margin-top: 40px;
    font-size: 12px;
    text-align: center;
}
.bellowsocial a{
    color: #ec008c;
}
.social>div{
    cursor: pointer;
}